
.app-container {
  font-family: Poppins !important;
  flex: 1;
}

.navbar {
  height: 9.61vh;
  margin-left: 1.875vw;
  margin-right: 1.875vw;
  border-bottom: 1px solid #D4D6DF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  height: calc(100vh - 9.61vh);
  margin-left: 9.375vw;
  margin-right: 42.03vw;
  margin-top: 7.69vh;
}

.checkbox-container > b {
  margin-left: 0.3vw;
}

.checkbox-container + .checkbox-container {
  margin-top: 2vh
}

h1 {
  font-size: 2vw;
}

b {
  font-size: 1vw;
}

p {
  color: #777E90;
  font-size: 1vw;
}

.tag-container {
  display: flex;
  gap: 0.6vw;
}

.icon {
  height: 2vw;
  width: 2vw;
}